$shadow-opacity	: .2;

svg#side-viz {
	#axis--x {
		path { stroke: none; }
		.tick text.shadow { opacity: $shadow-opacity; }
	}
	#bar-wrapper {
		.group-bar {
			.bar { stroke: none; }
			.bar.overlay { fill: transparent; }
			.bar.fill { fill-opacity: .2; }
			&.shadow { opacity: $shadow-opacity; }
			&.spotlight { .bar.fill { fill-opacity: 1; }}
		}
	}
}
