$shadow-opacity	: .2;

svg#side-viz {
	#axis--x {
		path { stroke: none; }
		.tick text.shadow { opacity: $shadow-opacity; }
	}
	#bar-wrapper {
		.group-bar {
			.bar.fill { fill-opacity: .1; }
			&.shadow { opacity: $shadow-opacity; }
			&.spotlight { .bar.fill { fill-opacity: .4; }}
		}
	}
}
