@font-face {
    font-family: "SF Regular";
    src: url("../../public/font/System San Francisco Display Regular.ttf");
}
@font-face {
    font-family: "SF Bold";
    src: url("../../public/font/System San Francisco Display Bold.ttf");
}
@font-face {
    font-family: "TG Bold";
    src: url("../../public/font/TradeGothic-Bold.ttf");
}
@font-face {
    font-family: "TG CondEighteen";
    src: url("../../public/font/TradeGothic-CondEighteen.ttf");
}
@font-face {
    font-family: "TG LightOblique";
    src: url("../../public/font/TradeGothic-LightOblique.ttf");
}

$def-font-stack : "SF Regular";
$default-back   : #404040;

$header-height	: 6vh;
$wrapper-pad	: 1.75vw;
$side-width		: 25%;
