@import "statics";
@import "mixins";

@import "viz/side";
@import "viz/scatter";
@import "viz/polygons";

a { cursor: pointer; text-decoration: none; color: black; }
ul { list-style-type: none; margin: 0px; padding: 0px; }
img { max-width: 100%; height: auto; }
textarea { resize: none; }
input { -webkit-appearance: none; -moz-appearance: none; box-shadow: none; outline: none; }
input[type=number] { -moz-appearance:textfield; }
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
*:focus, select { outline: none!important; }
.bold { font-weight: 700 !important; }
.uppercase { text-transform: uppercase !important; }
.capitalize { text-transform: capitalize!important; }
.float-left { float: left!important; display: inline-block; }
.float-right { float: right!important; display: inline-block; }
.align-left { text-align: left!important; }
.align-right { text-align: right!important; }
.align-center { text-align: center!important; }
.force-middle { margin: auto!important; float: none!important; display: block!important; }
.cursor-default { cursor: default; @include noselect(); }
.cursor-pointer { cursor: pointer; @include noselect(); }
.noselect { @include noselect(); }
.nopadding { @include nopadding(); }
.hidden { display: none; }
html, body {
	width: 100%; height: 100%; margin: 0px; padding: 0px; overflow: hidden; font-family: $def-font-stack; font-size: 10px;
	-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: white;
}
div#root {
    height: 100%; background: $default-back; position: relative; padding: 0px $wrapper-pad;
	div#header {
		span { font-family: 'SF Bold'; line-height: $header-height; font-size: 16px; }
	}
	div#content {
		height: calc(100% - #{$header-height} - #{$wrapper-pad}); padding-bottom: $wrapper-pad;
		& > div { display: inline-block; height: 100%; }
		#side-bar { width: $side-width; }
		#mein-bar, #detil-bar, #compare-bar { position: relative; width: calc(100% - #{$side-width}); }
		#mein-bar {
			#expand-toggler { position: absolute; right: 0; top: -25px; padding: 10px; border: 1px solid; border-radius: 5px; background: rgba(black, .2); }
		}
		#detil-bar {
			position: relative;
			#detil-tooltips {
				position: absolute; background: rgba(black, .75); padding: 7.5px 10px; border-radius: 3px;
				&::after { top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-width: 5px; margin-top: -5px; }
				&.left::after { right: 100%; border-right-color: rgba(black, .75); }
				&.right::after { left: 100%; border-left-color: rgba(black, .75); }
			}
		}
		#compare-bar {

		}
		svg {
			text { fill: white; }
			.grid-wrapper { stroke: lightgray; stroke-dasharray: 1.5; stroke-width: .25; }
		}
	}
}
